<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White House</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-gray-100">



    
    <nav class="bg-white w-full fixed  top-0 z-50 border-2 border-gray-100">
        <div class="grid grid-cols-1 md:grid-cols-2 p-5 md:p-10 md:pt-5 ">
            <div class="flex  gap-10  ">
                <img class="w-8 h-8 md:w-10 md:h-10 md:hidden mt-2 " onclick="nav()"
                    src="https://cdn.iconscout.com/icon/free/png-256/free-three-116-433170.png" alt="">
                <img class="w-12 h-12 text-center" src="{{ url_for('static', filename='Images/logo2.jpeg') }}" alt="">


            </div>
            <div id="nav" class="hidden  m-5 md:block">
                <ul class="flex  flex-col md:flex-row duration-300   gap-10 text-sm md:text-xl pt-4   ">
                    <a href="{{ url_for('index') }}">
                        <li class="hover:underline decoration-orange-500 decoration-2 underline-offset-8">
                            Home
                        </li>
                    </a>
                    <a href="{{ url_for('cart') }}">
                        <li class="hover:underline decoration-orange-500 decoration-2 underline-offset-8">
                            Cart
                        </li>
                    </a>
                   
                    <a href="/{{login}}">
                        <li class="hover:underline decoration-orange-500 decoration-2 underline-offset-8">
                           {{login}}
                        </li>
                    </a>
                </ul>
            </div>
        </div>

    </nav>

    <form class="  fixed top-4 right-0 pr-2 z-50 w-2/4" action="{{ url_for('fashion') }}" method="GET">
        <div class="pt-2 relative mx-auto text-gray-600">
            <input  id="search1" class="border-2 lowercase border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
              type="search" name="search" placeholder="Search">
            <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
              <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                width="512px" height="512px">
                <path
                  d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
              </svg>
            </button>
            
          </div>
    </form>

    <div id="toast" class="hidden relative bottom-40 w-full">
        {% if login == "logout" %}
        <div id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow " role="alert">
            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg ">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                <span class="sr-only">Check icon</span>
            </div>
            <div class="ms-3 text-sm font-normal">Added To Cart</div>
           
        </div>
        {% else %}
        <div id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow " role="alert">
            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg ">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                <span class="sr-only">Check icon</span>
            </div>
            <div class="ms-3 text-sm font-normal">Not Logged IN</div>
           
        </div>
        {% endif %}
    </div>

    <div class="pt-16"></div>

<div class="container p-2 mt-8 border-2 rounded-md">
    <div class=" bg-white rounded-md shadow-lg">
        <div id="all" class="flex flex-col mt-10 bg-white m-auto p-auto">

            <div class="flex overflow-x-scroll pb-10   hide-scroll-bar">
                <div class="flex flex-nowrap ">
                    <div class="inline-block ">
                        <div
                            class="w-52 h-64 overflow-hidden  shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                            <img src="{{ url_for('static', filename="uploads/"+product.ImageUrl[0]) }} "  alt="{{ product.Name }}" class=" w-full h-full ">
                           
                        </div>
                    </div>
                    <div class="inline-block px-3">
                        <div
                            class="w-52 h-64 overflow-hidden  shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                            <img src="{{ url_for('static', filename="uploads/"+product.ImageUrl[1]) }} "  alt="{{ product.Name }}" class="  w-full h-full">
                           
                        </div>
                    </div>
                    <div class="inline-block px-3">
                        <div
                            class="w-52 h-64 overflow-hidden  shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                            <img src="{{ url_for('static', filename="uploads/"+product.ImageUrl[2]) }} "  alt="{{ product.Name }}" class="  w-full h-full">
                           
                        </div>
                    </div>
        
                   
                   
                   
                    
                    
                </div>
            </div>
        </div>
        <div class="p-6 flex flex-col gap-1">
            <h2 class="text-2xl font-bold mb-4">{{ product.Name }}</h2>
            <p class="text-gray-700 mb-4 font-medium text-lg">{{ product.Description }}</p>
            <p class="text-gray-700 mb-4 text-lg"><span class="font-medium px-2">Category :-</span> {{ product.Category }}</p>
            <p class="text-gray-700 mb-4 text-lg"><span class="font-medium px-2">Brand :-</span>{{ product.Brand }}</p>
            <button onclick="fetchData('{{product['_id']}}')" class="block bg-black text-white px-4 py-4 rounded-md text-center">Add to Cart</button>
        </div>
    </div>
</div>





<script>



const nav = () => {
            nav1 = document.getElementById("nav").classList[0]

            if (nav1 == 'hidden') {
                document.getElementById("nav").classList = 'block '
            }
            else {
                document.getElementById("nav").classList = 'hidden md:block'
            }


        }
     function fetchData(id) {

            
     
fetch('/cart?id='+id)
    .then(response =>console.log("saved"))
    .then(data => {

        document.getElementById("toast").classList="block fixed top-10 p-10 px-2 "

    setTimeout(() => {
// Check if an alert is still open (in some browsers, clicking "OK" closes the alert immediately)
document.getElementById("toast").classList="hidden"
}, 1000);

        

        // Handle the response data
        

    })
    .catch(error => {
        console.error('Error fetching data:', error);
       
    });
}
</script>
</body>
</html>
