<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White House</title>
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">

</head>
<body>
    
    <div id="loader" class="hidden ">
    
        <div role="status" class="fixed top-96 z-50 left-52">
         <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
             <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
             <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
         </svg>
         <span class="sr-only">Loading...</span>
     </div>
    </div>

   <div id="loader_ex" class="">
     
    <nav class="bg-white w-full fixed  top-0 z-50 border-2 border-gray-100">
        <div class="grid grid-cols-1 md:grid-cols-2 p-5 md:p-10 md:pt-5 ">
            <div class="flex  gap-10  ">
                <img class="w-8 h-8 md:w-10 md:h-10 md:hidden mt-2 " onclick="nav()"
                    src="https://cdn.iconscout.com/icon/free/png-256/free-three-116-433170.png" alt="">
                <img class="w-12 h-12 text-center" src="{{ url_for('static', filename='Images/logo2.jpeg') }}" alt="">


            </div>
            <div id="nav" class="hidden  m-5 md:block">
                <ul class="flex  flex-col md:flex-row duration-300   gap-10 text-sm md:text-xl pt-4  font-semibold  ">
                    <a href="{{ url_for('index') }}"  onclick="loader()">
                        <li class="hover:underline decoration-orange-500 decoration-2 underline-offset-8 uppercase">
                            Home
                        </li>
                    </a>
                    <a href="{{ url_for('cart') }}"  onclick="loader()">
                        <li class="hover:underline decoration-orange-500 decoration-2 underline-offset-8 uppercase">
                            Cart
                        </li>
                    </a>
                   
                    <a href="/{{login}}"  onclick="loader()">
                        <li class="hover:underline decoration-orange-500 decoration-2 underline-offset-8 uppercase">
                           {{login}}
                        </li>
                    </a>
                </ul>
            </div>
        </div>

    </nav>


    <form class="flex items-center fixed top-4 right-0 pr-2 mt-2 z-50 w-2/4" action="{{ url_for('fashion') }}" method="GET">   
        <label for="voice-search" class="sr-only">Search</label>
        <div class="relative w-full">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.15 5.6h.01m3.337 1.913h.01m-6.979 0h.01M5.541 11h.01M15 15h2.706a1.957 1.957 0 0 0 1.883-1.325A9 9 0 1 0 2.043 11.89 9.1 9.1 0 0 0 7.2 19.1a8.62 8.62 0 0 0 3.769.9A2.013 2.013 0 0 0 13 18v-.857A2.034 2.034 0 0 1 15 15Z"/>
                </svg>
            </div>
            <input type="text" id="voice-search" name="search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  " placeholder="Search Product" required>
            <button type="button" class="absolute inset-y-0 end-0 flex items-center pe-3">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7v3a5.006 5.006 0 0 1-5 5H6a5.006 5.006 0 0 1-5-5V7m7 9v3m-3 0h6M7 1h2a3 3 0 0 1 3 3v5a3 3 0 0 1-3 3H7a3 3 0 0 1-3-3V4a3 3 0 0 1 3-3Z"/>
                </svg>
            </button>
        </div>
       
    </form>









<div class="fixed bottom-0 h-14 bg-white w-full border-2 flex justify-between border-gray-200">
    <div class="">
        <h1 class="text-base ml-10 p-4 pb-10 font-semibold "><span class="text-purple-600">W</span>hite <span class="text-purple-600">H</span>ouse</h1>
    </div>
    <div onclick="filter()" class=" font-semibold  flex flex-row uppercase gap-1 justify-end ">
        <img class="h-14 w-14  " src="https://t3.ftcdn.net/jpg/04/31/89/40/360_F_431894011_SqQPs5pbaMovbfpoRbigAL7hVrHWrN49.jpg" alt="">
        <h1  class="p-5 pr-0 pl-0 text-sm">
           Filter
        </h1></div>
    
    
          <div class="mt-40">
    
    </div>
</div>












<div id="toast" class="hidden relative bottom-40 w-full">
    {% if login == "logout" %}
    <div id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow " role="alert">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg ">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
            <span class="sr-only">Check icon</span>
        </div>
        <div class="ms-3 text-sm font-normal">Added To Cart</div>
       
    </div>
    {% else %}
    <div id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow " role="alert">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg ">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
            <span class="sr-only">Check icon</span>
        </div>
        <div class="ms-3 text-sm font-normal">Not Logged IN</div>
       
    </div>
    {% endif %}
</div>
   
<div id="filter" class="hidden">
    <div class="container h-full w-full bg-white pr-20  p-2">
  

        <form action="{{ url_for('fashion') }}" method="GET" class="mb-8">
            <div class="flex flex-col -mx-2">
                <div class="w-full md:w-1/4 px-2 mb-4">
                    <label for="category" class="block text-sm font-medium text-gray-600">Category:</label>
                    <select name="category" id="category" class="mt-1 p-2 w-full border rounded-md">
    
                       
    
                        <option value="">All</option>
                        {% for i in Filter %}
    
        {%for j in i['category'] %}
        
        <option value={{j}}>{{j}}</option>
           {%endfor %}
        {%endfor %}
                        <!-- Add more categories as needed -->
                    </select>
                </div>
                <div class="w-full md:w-1/4 px-2 mb-4">
                    <label for="brand" class="block text-sm font-medium text-gray-600">Brand:</label>
                    <select name="brand" id="brand" class="mt-1 p-2 w-full border rounded-md">
                        <option value="">All</option>
                        {% for i in Filter %}
    
                        {%for j in i['brand'] %}
                        
                        <option value={{j}}>{{j}}</option>
                           {%endfor %}
                        {%endfor %}
                        <!-- Add more brands as needed -->
                    </select>
                </div>
    
                <div class="w-full md:w-1/4 px-2 mb-4">
                    <label for="material" class="block text-sm font-medium text-gray-600">Fabric:</label>
                    <select name="material" id="material" class="mt-1 p-2 w-full border rounded-md">
                        <option value="">All</option>
                        {% for i in Filter %}
    
                        {%for j in i['material'] %}
                        
                        <option value={{j}}>{{j}}</option>
                           {%endfor %}
                        {%endfor %}
                        <!-- Add more brands as needed -->
                    </select>
                </div>
                <div class="w-full md:w-1/4 px-2 mb-4">
                    <label for="type" class="block text-sm font-medium text-gray-600">Wear:</label>
                    <select name="type" id="type" class="mt-1 p-2 w-full border rounded-md">
                        <option value="">All</option>
                        {% for i in Filter %}
    
                        {%for j in i['type'] %}
                        
                        <option value={{j}}>{{j}}</option>
                           {%endfor %}
                        {%endfor %}
                        <!-- Add more brands as needed -->
                    </select>
                </div>
                
            </div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Apply Filters</button>
        </form>
    
           
    </div>
    
</div>


<div class="mt-32">

</div>



{% if type == "Mens" %}
<div id="all" class="  flex flex-col mt-10 bg-white m-auto p-auto">

    <div class="flex overflow-x-scroll pb-10  px-2 hide-scroll-bar">
        <div class="flex flex-nowrap ">
           <a href="fashion?category=shirt&type=Mens"  onclick="loader()">
            <div class="inline-block px-3">
                <div
                    class="w-20 h-20 max-w-xs overflow-hidden rounded-full shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <img src="https://evilato.com/wp-content/uploads/2021/04/WhatsApp-Image-2021-04-27-at-11.50.30-AM.jpeg"
                        alt="">
                </div>
                <h1 class="text-center text-sm font-semibold p-2">Shirt</h1>
            </div>
           </a>

           <a href="fashion?type=Mens&category=tshirt"  onclick="loader()">
            <div class="inline-block px-3">
                <div
                    class="w-20 h-20 max-w-xs overflow-hidden rounded-full shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <img src="https://www.jiomart.com/images/product/original/rvowvf0akl/eyebogler-men-s-polo-neck-regular-fit-half-sleeves-colorblocked-teal-t-shirt-product-images-rvowvf0akl-1-202211051905.jpg?im=Resize=(500,630)"
                        alt="">
                </div>
                <h1 class="text-center text-sm font-semibold p-2">Tshirt</h1>
            </div>
           </a>
           
            <a href="fashion?type=Mens&category=sweater"  onclick="loader()">
                <div class="inline-block px-3">
                    <div
                        class="w-20 h-20 max-w-xs overflow-hidden rounded-full shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                        <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F9a%2Fec%2F9aec4331e0f5c73a7449785890a0e0b234463089.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B2%5D&call=url[file:/product/main]"
                            alt="">
                    </div>
                    <h1 class="text-center text-sm font-semibold p-2">Sweater</h1>
                </div>
            </a>
            
            <a href="fashion?type=Mens&category=trouser"  onclick="loader()">
                <div class="inline-block px-3">
                    <div
                        class="w-20 h-20 max-w-xs overflow-hidden rounded-full shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                        <img src="https://rukminim2.flixcart.com/image/850/1000/xif0q/trouser/n/u/g/38-cpd085440-paul-street-original-imaggbvm7zh5crh9.jpeg?q=90"
                            alt="">
                    </div>
                    <h1 class="text-center text-sm font-semibold p-2">Trouser</h1>
                </div>
            </a>
            <a href="fashion?type=Mens&category=jeans"  onclick="loader()">
                <div class="inline-block px-3">
                    <div
                        class="w-20 h-20 max-w-xs overflow-hidden rounded-full shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                        <img src="https://frenchcrown.in/cdn/shop/products/J-135_8.jpg?v=1700656454&width=1000"
                            alt="">
                    </div>
                    <h1 class="text-center text-sm font-semibold p-2">Jeans</h1>
                </div>
            </a>
            
            <a href="fashion?type=Mens&category=boxer"  onclick="loader()">
                <div class="inline-block px-3">
                    <div
                        class="w-20 h-20 max-w-xs overflow-hidden rounded-full shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                        <img src="https://prod-img.thesouledstore.com/public/theSoul/uploads/catalog/product/1688875489_5401937.jpg?w=480&dpr=1.3"
                            alt="">
                    </div>
                    <h1 class="text-center text-sm font-semibold p-2">Boxer</h1>
                </div>
            </a>
           
           
            
            
        </div>
    </div>
</div>
{% elif type == "Womens"  %}
<div id="all" class="  flex flex-col mt-10 bg-white m-auto p-auto">

    <div class="flex overflow-x-scroll pb-10  px-2 hide-scroll-bar">
        <div class="flex flex-nowrap ">
           <a href="fashion?type=Womens&category=cordset"  onclick="loader()">
            <div class="inline-block px-3">
                <div
                    class="w-20 h-20 max-w-xs overflow-hidden rounded-full shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <img src="https://kapdavilla.com/images/product/sub_images/2023/07/ganpati-jaipuri-coat-suit-vol-2-fancy-cotton-cord-set-ladies-wear-collection-4-2023-07-01_18_04_22.jpeg"
                        alt="">
                </div>
                <h1 class="text-center text-sm font-semibold p-2">Cord Set</h1>
            </div>
           </a>

           <a href="fashion?type=Womens&category=top"  onclick="loader()">
            <div class="inline-block px-3">
                <div
                    class="w-20 h-20 max-w-xs overflow-hidden rounded-full shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <img src="https://img.faballey.com/images/Product/TOP06607Z/1.jpg"
                        alt="">
                </div>
                <h1 class="text-center text-sm font-semibold p-2">Top</h1>
            </div>
           </a>
           
            <a href="fashion?type=Womens&category=sweater"  onclick="loader()">
                <div class="inline-block px-3">
                    <div
                        class="w-20 h-20 max-w-xs overflow-hidden rounded-full shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                        <img src="https://assets.ajio.com/medias/sys_master/root/20230914/cqYX/65033241ddf7791519d90b88/-473Wx593H-443014947-pink-MODEL.jpg"
                            alt="">
                    </div>
                    <h1 class="text-center text-sm font-semibold p-2">Sweater</h1>
                </div>
            </a>
            
            <a href="fashion?type=Womens&category=jeans"  onclick="loader()">
                <div class="inline-block px-3">
                    <div
                        class="w-20 h-20 max-w-xs overflow-hidden rounded-full shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                        <img src="https://sslimages.shoppersstop.com/sys-master/images/hf8/h2c/27207742521374/S22OG1621774BL_BLUE.jpg_2000Wx3000H"
                            alt="">
                    </div>
                    <h1 class="text-center text-sm font-semibold p-2">Jeans</h1>
                </div>
            </a>
            
            <a href="fashion?type=Womens&category=lingerie"  onclick="loader()">
                <div class="inline-block px-3">
                    <div
                        class="w-20 h-20 max-w-xs overflow-hidden rounded-full shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                        <img src="https://images-static.nykaa.com/media/catalog/product/3/1/31175b9PC-SET-6086-BLK_1.jpg?tr=w-500"
                            alt="">
                    </div>
                    <h1 class="text-center text-sm font-semibold p-2">Lingerie</h1>
                </div>
            </a>
           
           
            
            
        </div>
    </div>
</div>
{% else %}
<div>

</div>
{% endif %}

<div class="grid grid-cols-2">
<!-- component -->
{% for i in Dress%}

<div class=" h-full w-full flex justify-center items-center">
    <div class="container  max-w-sm w-full rounded-lg  p-1 sm:w-1/2">
      <div class="card flex flex-col justify-center p-2 bg-white  shadow-lg">
        <div class="prod-title">
          <p class="text-base uppercase text-gray-900 font-bold">  {{i["Category"]}}</p>
          <p class="uppercase text-sm text-gray-400">
            {{i["Brand"]}}
          </p>
        </div>
        <a class="pt-2" href="/fashion/{{i['Name']}}/{{i['_id']}}"   onclick="loader()">
        <div class="prod-img justify-center items-center">

                <img class="w-full h-60 text-center " src="{{ url_for('static', filename='uploads/'+i['ImageUrl'][0]) }}"
                    alt="Image">
                   
    
          
        </div>
    </a>
        <div class="prod-info grid gap-10 mt-5">
          
          <div class="flex flex-col md:flex-row justify-between items-center text-gray-900">
            <button onclick="fetchData('{{i['_id']}}')" 
                    class="px-2 py-2 transition ease-in duration-200 uppercase rounded-full hover:bg-gray-800 hover:text-white border-2 border-gray-900 focus:outline-none">Add
              to cart</button>
              <div class="flex items-center  p-6 pb-2">
                <div class="cursor-pointer">
                  <span onclick="like('{{i['_id']}}')" class="flex h-min w-min space-x-1 items-center rounded-full text-gray-400 hover:text-rose-600 bg-gray-700 hover:bg-rose-50 py-1 px-2 text-xs font-medium">
                    <svg    xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-current hover:text-red-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                    <p   class=" font-semibold text-xs">{{i['like']}}</p>
                  </span>
                </div>
              </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
</div>







<div class="mb-20">
  
</div>
   </div>
<script>
    const filter = () => {
        nav1 = document.getElementById("filter").classList[0]

        if (nav1 == 'hidden') {
            document.getElementById("filter").classList = 'block bg-white w-full  fixed bottom-14 p-5 pb-0 border-t-2 border-gray-200'
        }
        else {
            document.getElementById("filter").classList = 'hidden md:block'
        }


    }
    const nav = () => {
            nav1 = document.getElementById("nav").classList[0]

            if (nav1 == 'hidden') {
                document.getElementById("nav").classList = 'block '
            }
            else {
                document.getElementById("nav").classList = 'hidden md:block'
            }


        }
        function fetchData(id) {

            
        
        fetch('/cart?id='+id)
            .then(response =>console.log("saved"))
            .then(data => {

                document.getElementById("toast").classList="block fixed top-10 p-10 px-2 "

            setTimeout(() => {
        // Check if an alert is still open (in some browsers, clicking "OK" closes the alert immediately)
        document.getElementById("toast").classList="hidden"
    }, 1000);
                

                // Handle the response data
                

            })
            .catch(error => {
                console.error('Error fetching data:', error);
               
            });
    }




    function like(id) {

            
        
fetch('/like/'+id)
    .then(response =>response.json())
    .then(data => 

   {
    if (data["res"]=="error"){

        alert("not logged in")
        
    }
   }

    )
}
const loader=()=>
        {
            document.getElementById("loader").classList='block'
            document.getElementById("loader_ex").classList="opacity-50"
        }
</script>

<!-- ... (unchanged parts of HTML) ... -->

</body>
</html>