<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>White House</title>
      <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">

    </head>
  </head>
  <body style="background: #edf2f7">

    <nav class="bg-white w-full fixed  top-0 z-50 border-2 border-gray-100">
        <div class="grid grid-cols-1 md:grid-cols-2 p-5 md:p-10 md:pt-5 ">
            <div class="flex  gap-10  ">
                <img class="w-8 h-8 md:w-10 md:h-10 md:hidden mt-2 " onclick="nav()"
                    src="https://cdn.iconscout.com/icon/free/png-256/free-three-116-433170.png" alt="">
                <img class="w-12 h-12 text-center" src="{{ url_for('static', filename='Images/logo2.jpeg') }}" alt="">
    
    
            </div>
            <div id="nav" class="hidden  m-5 md:block">
                <ul class="flex  flex-col md:flex-row duration-300   gap-10 text-lg md:text-xl pt-4   ">
                    <a href="{{ url_for('index') }}">
                        <li class="hover:underline decoration-orange-500 decoration-2 underline-offset-8">
                            Home
                        </li>
                    </a>
                    <a href="{{ url_for('cart') }}">
                        <li class="hover:underline decoration-orange-500 decoration-2 underline-offset-8">
                            Cart
                        </li>
                    </a>
                   
                    <a href="{{ url_for('login') }}">
                        <li class="hover:underline decoration-orange-500 decoration-2 underline-offset-8">
                            Login
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    
    </nav>
    <div class="bg-grey-lighter min-h-screen flex flex-col">
      <div
        class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2"
      >
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
          <h1
            class="mb-8 text-3xl text-center font-semibold"
            ,
            style="font-size: 45px"
          >
            Login
          </h1>
          <form action="{{ url_for('login') }}" method="POST">
            <input
              type="email"
              class="block border border-grey-light w-full p-3 rounded mb-4"
              name="email"
              placeholder="Email"
              required
            />

            <input
              type="password"
              class="block border border-grey-light w-full p-3 rounded mb-4"
              name="password"
              placeholder="Password"
              required
            />

            <button
              type="submit"
              class="w-full text-center py-3 rounded bg-black text-white hover:bg-green-600 focus:outline-none my-1"
            >
              Login
            </button>
          </form>
        </div>

        <div class="text-grey-dark mt-6">
          Don't have an account?
          <a
            class="no-underline border-b border-blue text-blue-400"
             href="{{ url_for('sign_up') }}">
          
            Sign up</a
          >.
          <h4 class="text-red-500 font-semibold">{{error}}</h4>
        </div>
      </div>
    </div>
    <script>
        const nav = () => {
            nav1 = document.getElementById("nav").classList[0]

            if (nav1 == 'hidden') {
                document.getElementById("nav").classList = 'block '
            }
            else {
                document.getElementById("nav").classList = 'hidden md:block'
            }


        }
    </script>
  </body>
</html>